/*@import "../fonts/";*/

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}



#cap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-align: center;
  background-color: hsla(0,0%,0%,.5);
  z-index: 9999;
  display: none;
  color: #fff;
}
#cap:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}
#cap-wrapper {
  display: inline-block;
  vertical-align: middle;

  font-size: 16px;
}

#cap.show{
  display: block;
}


/*    Notifications style       */
/* Common, default styles for the notification box */

.ns-box {
  position: fixed;
  background: rgba(42,45,50,0.85);
  padding: 22px;
  line-height: 1.4;
  z-index: 9999;
  pointer-events: none;
  color: rgba(250,251,255,0.95);
  font-size: 90%;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.ns-box.ns-show {
  pointer-events: auto;
}

.ns-box a {
  color: inherit;
  opacity: 0.7;
  font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
  opacity: 1;
}

.ns-box p {
  margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
  pointer-events: auto;
}

.ns-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ns-close:hover,
.ns-close:focus {
  outline: none;
}

.ns-close::before,
.ns-close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
  background: #fff;
}

.ns-close::before {
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
}
/* Growl-style notifications */
.ns-attached {
  left: 30px;
  max-width: 300px;
}

[class^="ns-effect-"].ns-attached.ns-hide,
[class*=" ns-effect-"].ns-attached.ns-hide {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

/* Individual effects */

/* Flip */
.ns-effect-flip {
  background: #9bd1a2;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  bottom: 0px;
  font-size: 1.15em;
  padding: 1.5em;
  max-width: 280px;
  backface-visibility: hidden;
}

.ns-effect-flip .ns-close::before,
.ns-effect-flip .ns-close::after {
  background: #5a9862;
}

.ns-effect-flip .ns-close:hover::before,
.ns-effect-flip .ns-close:hover::after {
  background: #4e8455;
}

.ns-effect-flip.ns-show,
.ns-effect-flip.ns-hide {
  -webkit-animation-name: animFlipFront;
  animation-name: animFlipFront;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.ns-effect-flip.ns-hide {
  -webkit-animation-name: animFlipBack;
  animation-name: animFlipBack;
}

@-webkit-keyframes animFlipFront {
  0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg); }
  100% { -webkit-transform: perspective(1000px); }
}

@keyframes animFlipFront {
  0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg); transform: perspective(1000px) rotate3d(1,0,0,-90deg); }
  100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); }
}

@-webkit-keyframes animFlipBack {
  0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg); }
  100% { -webkit-transform: perspective(1000px); }
}

@keyframes animFlipBack {
  0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg); transform: perspective(1000px) rotate3d(1,0,0,90deg); }
  100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); }
}

/* Bouncy Flip adapted from animate.css by Dan Eden: http://daneden.github.io/animate.css/ */
.ns-effect-bouncyflip {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  background: #6cd86c;
  color: #484860;
  top: 0;
  box-shadow: 0 13px 10px -5px rgba(0,0,0,0.2);
}

.ns-effect-bouncyflip .icon {
  position: absolute;
  display: block;
  top: 2em;
  left: 2em;
}

.ns-effect-bouncyflip p {
  padding: 0.5em 0.8em 0.8em 3.5em;
}

.ns-effect-bouncyflip .ns-close::after,
.ns-effect-bouncyflip .ns-close::before {
  background: #484860;
}

.ns-effect-bouncyflip .ns-close:hover::after,
.ns-effect-bouncyflip .ns-close:hover::before {
  background: #545484;
}

.ns-effect-bouncyflip.ns-show,
.ns-effect-bouncyflip.ns-hide {
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
    -webkit-transition-timing-function: ease-in;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
    -webkit-transition-timing-function: ease-out;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
    -webkit-transition-timing-function: ease-out;
  }

  100% {
    -webkit-transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
    transform: perspective(400px) rotate3d(1,0,0,-90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
    transform: perspective(400px) rotate3d(1,0,0,20deg);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
    transform: perspective(400px) rotate3d(1,0,0,-10deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
    transform: perspective(400px) rotate3d(1,0,0,5deg);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.ns-effect-bouncyflip.ns-hide {
  -webkit-animation-name: flipInXSimple;
  animation-name: flipInXSimple;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes flipInXSimple {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-transition-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}

@keyframes flipInXSimple {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@media screen and (max-width: 25em) {
  .ns-attached {
    left: 30px;
    max-width: none;
    right: 30px;
  }
}




/**/

@charset "utf-8";

/*BIBLIO*/

* {
  outline: 0;
  margin: 0;
  padding: 0;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {height: 100%}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: auto;
  user-select: text;
}

a {-webkit-touch-callout: default}

a {
  color: hsl(210,85%,50%);
  cursor: pointer;
  text-decoration: none;
}
a:hover {text-decoration: underline}
a.odd:hover {text-decoration: none}

ul.odd {list-style: none}
hr {
  border: 0;
  border-top: 1px solid;
}

button {
  background-color: transparent;
  border: 0;
  color: inherit;
  white-space: nowrap;
}

textarea {
  display: block;
  outline: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid;
  padding: 4px 6px;
  resize: none;
  min-height: 50px;
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: text;
  -ms-user-select: all;
  user-select: all;
}

input {
  display: block;
  border: 0;
  outline: 0;
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: text;
  -ms-user-select: all;
  user-select: all;
}

input[type="date"] {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px 5px;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type="file"]::-webkit-file-upload-button {display: none}
::-webkit-scrollbar {width: 0}


.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {clear: both}

.centering:before,
.v-centering:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.centering > *,
.v-centering > * {
  display: inline-block !important;
  vertical-align: middle !important;
}
.centering,
.h-centering {text-align: center}

.hidden {display: none !important}
.disable-hover {pointer-events: none}

.pull-left {text-align: left}
.pull-right {text-align: right}

/*/BIBLIO*/

#plan-wrapper,
#queue-wrapper {
  height: 100%;
  width: 100%;
  min-width: 990px;
  font-size: 0;
}

#plan, #queue {
  width: 90%;
  font-size: 14px;
}

.blocks-wrapper {
  width: 100%;
  height: 45%;
  font-size: 0;
  text-align: left;
}
.plan-corridor {
  height: 10%;
  border-left: 3px solid;
  border-right: 3px solid;
}

.block-piece {
  display: inline-block;
  vertical-align: top;
}
.block-piece,
.room-piece,
.rooms-stack,
.rooms-bifurcation {height: 100%}

.block-piece.block-1x {width: 5%}
.block-piece.block-2x {width: 10%}
.block-piece.block-3x {width: 15%}


.blocks-wrapper.top .rooms-stack > :first-child,
.blocks-wrapper.bottom .rooms-stack > :last-child {height: 60%}
.blocks-wrapper.bottom .rooms-stack > :first-child,
.blocks-wrapper.top .rooms-stack > :last-child {height: 40%}

.rooms-bifurcation  > * {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.rooms-bifurcation  > :first-child {border-right: 1px solid}
.rooms-stack  > :first-child {border-bottom: 1px solid}

.block-piece {border: 3px solid}
.block-piece + .block-piece {border-left: 0}

.room-piece {font-size: 16px}
.room-wall {background-color: hsl(30, 40%, 50%)}

.block-unit {cursor: pointer}

.block-unit:hover {background-color: hsla(200, 90%, 50%, 0.4)}
.room-unit:hover {background-color: hsla(140, 90%, 50%, 0.4)}

.room-red {background-color: hsl(0, 90%, 80%)}
.room-yellow {background-color: hsl(50, 90%, 80%)}
.room-green {background-color: hsl(150, 90%, 80%)}
.room-blue {background-color: hsl(200, 90%, 80%)}
.room-grey {background-color: hsl(0, 0%, 80%)}


.pace .pace-progress {
  background: #6bdd16;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 4px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

.cursor-pointer{
  cursor: pointer;
}

.text-middle{
  vertical-align: middle !important;
}

.table>thead>tr>td.hover-td-info, 
.table>tbody>tr>td.hover-td-info, 
.table>tfoot>tr>td.hover-td-info, 
.table>thead>tr>th.hover-td-info, 
.table>tbody>tr>th.hover-td-info, 
.table>tfoot>tr>th.hover-td-info, 
.table>thead>tr.hover-td-info>td, 
.table>tbody>tr.hover-td-info>td, 
.table>tfoot>tr.hover-td-info>td, 
.table>thead>tr.hover-td-info>th, 
.table>tbody>tr.hover-td-info>th, 
.table>tfoot>tr.hover-td-info>th{
  background-color: #d9edf7 !important;

}


.table>thead>tr>td.hover-td-info:hover,
.table>tbody>tr>td.hover-td-info:hover,
.table>tfoot>tr>td.hover-td-info:hover,
.table>thead>tr>th.hover-td-info:hover,
.table>tbody>tr>th.hover-td-info:hover,
.table>tfoot>tr>th.hover-td-info:hover,
.table>thead>tr.hover-td-info>td:hover,
.table>tbody>tr.hover-td-info>td:hover,
.table>tfoot>tr.hover-td-info>td:hover,
.table>thead>tr.hover-td-info>th:hover,
.table>tbody>tr.hover-td-info>th:hover,
.table>tfoot>tr.hover-td-info>th:hover{
  background-color: #bfdff7 !important;
}


.table>thead>tr>td.hover-td-success, 
.table>tbody>tr>td.hover-td-success, 
.table>tfoot>tr>td.hover-td-success, 
.table>thead>tr>th.hover-td-success, 
.table>tbody>tr>th.hover-td-success, 
.table>tfoot>tr>th.hover-td-success, 
.table>thead>tr.hover-td-success>td, 
.table>tbody>tr.hover-td-success>td, 
.table>tfoot>tr.hover-td-success>td, 
.table>thead>tr.hover-td-success>th, 
.table>tbody>tr.hover-td-success>th, 
.table>tfoot>tr.hover-td-success>th{
  background-color: #dff0d8 !important;

}


.table>thead>tr>td.hover-td-success:hover,
.table>tbody>tr>td.hover-td-success:hover,
.table>tfoot>tr>td.hover-td-success:hover,
.table>thead>tr>th.hover-td-success:hover,
.table>tbody>tr>th.hover-td-success:hover,
.table>tfoot>tr>th.hover-td-success:hover,
.table>thead>tr.hover-td-success>td:hover,
.table>tbody>tr.hover-td-success>td:hover,
.table>tfoot>tr.hover-td-success>td:hover,
.table>thead>tr.hover-td-success>th:hover,
.table>tbody>tr.hover-td-success>th:hover,
.table>tfoot>tr.hover-td-success>th:hover{
  background-color: #bcf0b6 !important;
}

.table>thead>tr>td.hover-td-warning, 
.table>tbody>tr>td.hover-td-warning, 
.table>tfoot>tr>td.hover-td-warning, 
.table>thead>tr>th.hover-td-warning, 
.table>tbody>tr>th.hover-td-warning, 
.table>tfoot>tr>th.hover-td-warning, 
.table>thead>tr.hover-td-warning>td, 
.table>tbody>tr.hover-td-warning>td, 
.table>tfoot>tr.hover-td-warning>td, 
.table>thead>tr.hover-td-warning>th, 
.table>tbody>tr.hover-td-warning>th, 
.table>tfoot>tr.hover-td-warning>th{
  background-color: #fcf8e3 !important;

}


.table>thead>tr>td.hover-td-warning:hover,
.table>tbody>tr>td.hover-td-warning:hover,
.table>tfoot>tr>td.hover-td-warning:hover,
.table>thead>tr>th.hover-td-warning:hover,
.table>tbody>tr>th.hover-td-warning:hover,
.table>tfoot>tr>th.hover-td-warning:hover,
.table>thead>tr.hover-td-warning>td:hover,
.table>tbody>tr.hover-td-warning>td:hover,
.table>tfoot>tr.hover-td-warning>td:hover,
.table>thead>tr.hover-td-warning>th:hover,
.table>tbody>tr.hover-td-warning>th:hover,
.table>tfoot>tr.hover-td-warning>th:hover{
  background-color: #fce8b8 !important;
}

.table>thead>tr>td.hover-td-danger, 
.table>tbody>tr>td.hover-td-danger, 
.table>tfoot>tr>td.hover-td-danger, 
.table>thead>tr>th.hover-td-danger, 
.table>tbody>tr>th.hover-td-danger, 
.table>tfoot>tr>th.hover-td-danger, 
.table>thead>tr.hover-td-danger>td, 
.table>tbody>tr.hover-td-danger>td, 
.table>tfoot>tr.hover-td-danger>td, 
.table>thead>tr.hover-td-danger>th, 
.table>tbody>tr.hover-td-danger>th, 
.table>tfoot>tr.hover-td-danger>th{
  background-color: #f2dede !important;

}


.table>thead>tr>td.hover-td-danger:hover,
.table>tbody>tr>td.hover-td-danger:hover,
.table>tfoot>tr>td.hover-td-danger:hover,
.table>thead>tr>th.hover-td-danger:hover,
.table>tbody>tr>th.hover-td-danger:hover,
.table>tfoot>tr>th.hover-td-danger:hover,
.table>thead>tr.hover-td-danger>td:hover,
.table>tbody>tr.hover-td-danger>td:hover,
.table>tfoot>tr.hover-td-danger>td:hover,
.table>thead>tr.hover-td-danger>th:hover,
.table>tbody>tr.hover-td-danger>th:hover,
.table>tfoot>tr.hover-td-danger>th:hover{
  background-color: #f2b5c0 !important;
}

.table>thead>tr>td.hover-td-active:hover,
.table>tbody>tr>td.hover-td-active:hover,
.table>tfoot>tr>td.hover-td-active:hover,
.table>thead>tr>th.hover-td-active:hover,
.table>tbody>tr>th.hover-td-active:hover,
.table>tfoot>tr>th.hover-td-active:hover,
.table>thead>tr.hover-td-active>td:hover,
.table>tbody>tr.hover-td-active>td:hover,
.table>tfoot>tr.hover-td-active>td:hover,
.table>thead>tr.hover-td-active>th:hover,
.table>tbody>tr.hover-td-active>th:hover,
.table>tfoot>tr.hover-td-active>th:hover{
  background-color: #f5f5f5 !important;
}

td.editable{
  width: 60%
}