<div id="cap">
  <div id="cap-wrapper"></div>
</div>

<script type="template/javascript" id="tmpl-add-floor-modal">
  <div class="modal fade bs-example-modal in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Добавить этаж в общежитие №{dorm_number}</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="add-floor-to-dorm-form">
            <div class="form-group">
              <label for="add-floor-number">Номер этажа</label>
              <input type="number" class="form-control" id="add-floor-number" placeholder="Введите номер этажа" name="floor_number">
            </div>
            <div class="form-group">
              <label for="add-floor-description">Описание</label>
              <textarea class="form-control" rows="3" id="add-floor-description" name="floor_description"></textarea>
            </div>
            <input type="hidden" class="form-control" value="{dorm_number}" name="dorm_number" id="dorm-number" placeholder="Введите номер этажа">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary add-floor-to-dorm"><span class="glyphicon glyphicon-plus-sign"></span> Добавить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</script>
<script type="template/javascript" id="tmpl-add-block-modal">
  <div class="modal fade bs-example-modal in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Добавить блок на этаж №{floor_number} общежития №{dorm_number}</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="add-block-to-floor">
            <div class="form-group">
              <label for="add-floor-number">Номер блока</label>
              <input type="number" class="form-control" id="add-block-number" placeholder="Введите номер блока, например, 01" name="number">
              <span class="label label-warning"><strong>Внимание!</strong> Номер этажа автоматически добавляется к номеру блока!</span>
            </div>

            <!--<div class="form-group">
              <label for="add-floor-number">Количество комнат</label>
              <input type="number" class="form-control" id="add-block-rooms-count" placeholder="Введите количество комнат" name="rooms_count" value="1">
            </div>-->
            <div class="form-group">
              <label for="add-floor-description">Примечание</label>
              <textarea class="form-control" rows="3" id="add-block-description" name="comment"></textarea>
            </div>
            <input type="hidden" class="form-control" value="{dorm_number}" name="dorm_number" id="dorm-number">
            <input type="hidden" class="form-control" value="{floor_number}" name="floor_number" id="floor-number">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary add-block-to-floor-btn"><span class="glyphicon glyphicon-plus-sign"></span> Добавить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</script>
<script type="template/javascript" id="tmpl-add-room-modal">
  <div class="modal fade bs-example-modal in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Добавить комнату в блок {block_number}</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="add-room-to-block">
            <div class="form-group">
              <label for="add-floor-number">Номер комнаты</label>
              <input type="number" class="form-control" id="add-room-number" placeholder="Введите номер комнаты" name="number" value="1">
            </div>
            <div class="form-group">
              <label for="add-floor-number">Площадь</label>
              <input type="number" class="form-control" id="add-room-area" placeholder="Введите площадь комнаты" name="area">
            </div>
            <div class="form-group">
              <label for="add-floor-number">Максимальное количество жильцов</label>
              <input type="number" class="form-control" id="add-room-places-count" placeholder="Введите максимальное количество жильцов" name="room_number" value="1">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1" name="repairing"> В ремонте
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1" name="for_family"> Семейная
              </label>
            </div>
            <div class="form-group">
              <label for="add-floor-description">Примечание</label>
              <textarea class="form-control" rows="3" id="add-room-description" name="comment"></textarea>
            </div>
            <input type="hidden" class="form-control" value="{block_id}" name="block_id" id="block-id" placeholder="Введите номер этажа">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary add-room-to-block-btn"><span class="glyphicon glyphicon-plus-sign"></span> Добавить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</script>




<script type="template/javascript" id="tmpl-add-student-modal">
  <div class="modal fade bs-example-modal in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">{modal_name}</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal student-modal" role="form" class="student-modal-form">
            <div class="form-group">
              <label class="col-sm-2 control-label">ФИО</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Иванов И.И." name="name" value="{name}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Пол</label>

              <div class="col-sm-10">
                <select class="form-control" name="sex">
                  <option class="sex" value="1">Мужской</option>
                  <option class="sex" value="0">Женский</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Статус</label>

              <div class="col-sm-10">
                <select class="form-control" name="category">
                  <option class="category" value="Студент">Студент</option>
                  <option class="category" value="Аспирант">Аспирант</option>
                  <option class="category" value="Стажер">Стажер</option>
                  <option class="category" value="Докторант">Докторант</option>
                  <option class="category" value="Абитуриент">Абитуриент</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Курс/год</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="3" name="course" value="{course}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Институт</label>

              <div class="col-sm-10">
                <select class="form-control" name="inst_id">
                  <option class="inst_id" value="1">ИОМ</option>
                  <option class="inst_id" value="2">ИЭиФ</option>
                  <option class="inst_id" value="3">ИУПСиБК</option>
                  <option class="inst_id" value="4">ИИС</option>
                  <option class="inst_id" value="5">ИГУИП</option>
                  <option class="inst_id" value="6">ИМ</option>
                  <option class="inst_id" value="7">ИИЯиЛУ</option>
                  <option class="inst_id" value="8">РГФМ</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Город прибытия</label>

              <div class="col-sm-10">
                <input type="text" id="student-from" class="form-control" placeholder="Москва" name="city" value="{city}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Адрес прописки</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Москва, пр. Вернадского 70" name="official_address" value="{official_address}">
              </div>
            </div>
            <div class="form-group inline-form">
              <label class="col-sm-2 control-label">Паспортные данные</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Серия" name="passport_ser" value="{passport_ser}">
                <input type="text" class="form-control" placeholder="Номер" name="passport_number" value="{passport_number}">
                <input type="text" class="form-control" placeholder="Кем выдан" name="passport_who" value="{passport_who}">
                <input type="date" class="form-control" placeholder="Когда выдан" name="passport_when" value="{passport_when}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Телефон</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="9876543210" name="phone_number" value="{phone_number}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Документ на заселение</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Док №1" name="document" value="{document}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Оплатил</label>

              <div class="col-sm-10">
                <input type="date" class="form-control" placeholder="01.01.1994" name="pay_date" value="{pay_date}">
              </div>
            </div>
            <input type="hidden" name="student_id" value="{id}">

            <div class="form-group">
              <label class="col-sm-2 control-label">Примечание</label>

              <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="comment">{comment}</textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary student-modal-btn"><span
                  class="glyphicon glyphicon-plus-sign"></span> Добавить
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</script>


<script type="template/javascript" id="tmpl-floor-item">
  // {floor_number}
  // {dorm_number}
  <li class="item add-floor" data-dorm-number="{dorm_number}" data-floor-number="{floor_number}"><a href="#">Этаж <span class="label label-primary">{floor_number}</span></a></li>
</script>

<script type="template/javascript" id="tmpl-add-floor-item">
  <li class="divider"></li>
  <li class="item add-floor" data-dorm-number="{dorm_number}"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span> Добавить этаж</a></li>
</script>



<script type="template/javascript" id="tmpl-ajax-loading">
  <div class="alert alert-info" role="alert">
    <p><i class="fa fa-cog fa-spin fa-3x"></i></p>
    Идет загрузка... Пожалуйста подождите.
  </div>

</script>

<script type="template/javascript" id="tmpl-ajax-warning">
  //{message}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Ошибка!</strong> {message}</div>
</script>

<script type="template/javascript" id="tmpl-notification">
  //{color}
  //{message}
  //{icon}
  <div>
    <span style="color: {color}" class="fa fa-{icon} fa-3x"></span><p style="color: {color}" >{message}</p>
  </div>
</script>


<script type="template/javascript" id="tmpl-floor-dorm">
<div class="jumbotron floor-info" data-floor-number="{floor_number}" data-dorm-number="{dorm_number}">
  <h2>Общежитие №{dorm_number}, этаж {floor_number}</h2>
  <p>{floor_description}</p>
  <p>Свободных мест: {all_free_spaces}</p>
</div>

<div id="plan-wrapper" class="centering">
  <div id="plan">
    <table class="table table-striped table-condensed table-bordered table-responsive" id="floor-table">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Комната</th>
        <th class="text-center">ФИО</th>
        <th class="text-center">Телефон</th>
        <th class="text-center">Статус</th>
        <th class="text-center">Институт</th>
        <th class="text-center">Примечание</th>
        <th class="text-center">Edit</th>
        <th class="text-center">...</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</script>

<script type="template/javascript" id="tmpl-room-popover-content">
  //{description}
  <div>
    <div class="panel panel-info">
      <div class="panel-heading cursor-pointer">
        <span class="glyphicon glyphicon-chevron-up pull-right icon-chevron"></span>
        <h3 class="panel-title">Общая информация <span class="glyphicon glyphicon-warning-sign" title="Общая информация не заполнена"></span></h3>
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
            <table class="table table-striped table-hover table-condensed table-bordered table-responsive">
              <thead>
              <tr>
                <th>#</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Примечание</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr class="add-furniture-line success">
                <td colspan="12" class="text-center cursor-pointer">
                  <span class="glyphicon glyphicon-plus-sign"></span> Добавить мебель
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="btn-group btn-group-justified">
        <a class="btn {repairing_btn_class} repair-btn" role="button">{repairing_text}</a>
      </div>
    </div>
  </div>
</script>

<script type="template/javascript" id="tmpl-student-line">
  <tr class="line student-line {full_room_id}" data-student-id="{student_id}">
    <td rowspan="1" class="text-middle block cursor-pointer" id="{block_number}" data-block-number="{block_number}" data-block-id="{block_id}">{block_number} </td>
    <td rowspan="1" class="text-middle cursor-pointer room" id="{full_room_id}" data-block-number="{block_number}" data-full-room-id="{full_room_id}" data-places-count="{places_count}" data-room-id="{room_id}"> <span class="label label-primary">{room_number}</span> {repairing_label} {area_label} {places_count_label} {for_family_label}  </td>
    <td class="eq2">{name}</td>
    <td class="gt3">{phone_number}</td>
    <td class="gt3">{category}</td>
    <td class="gt3">{inst_name}</td>
    <td class="comment gt3" contenteditable="true">{student_comment}</td>
    <td class="gt3 text-center cursor-pointer text-middle edit" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></td>
    <td class="gt3 text-center text-middle" title="Удалить">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li class="remove-reason"><a href="#" class="remove-reason" data-reason="За нарушения">За нарушения</a></li>
          <li class="remove-reason"><a href="#" class="remove-reason" data-reason="По собственному желанию">По собственному желанию</a></li>
          <li class="remove-reason"><a href="#" class="remove-reason" data-reason="Не оплачено в срок">Не оплачено в срок</a></li>
          <li class="remove-reason"><a href="#" class="remove-reason" data-reason="За нарушения">Окончил университет</a></li>
          <li class="another-reason"><a href="#" class="remove-reason" data-reason="Другое..." data-student-id="{student_id}">Другое...</a></li>
          <li class="divider"></li>
          <li><a href="#" class="remove-reason" data-reason="Переселение">Переселение...</a></li>
        </ul>
      </div>
    </td>
    <td class="gt3 text text-center cursor-pointer text-middle cancel" title="Редактировать"><span class="glyphicon glyphicon-remove"></span> Отмена</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-furniture-line">
  <tr class="info furniture-line">
    <td>{number}</td>
    <td>{name}</td>
    <td>{count}</td>
    <td>{comment}</td>
    <td class="text-center cursor-pointer" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></td>
    <td class="text-center cursor-pointer" title="Удалить"><span class="glyphicon glyphicon-remove-circle"></span></td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-add-student-line">
  <tr class="line hover-td-info add-student" data-room-id="{room_id}">
    <td colspan="7" class="text-center cursor-pointer">
      <span class="glyphicon glyphicon-plus-sign"></span> Добавить студента
    </td>
</tr>
</script>

<script type="javascript/template" id="tmpl-add-room-line">
  <tr class="line hover-td-success" data-block-number="{block_number}" data-block-id="{block_id}">
    <td colspan="8" class="text-center cursor-pointer">
      <span class="glyphicon glyphicon-plus-sign"></span> Добавить комнату
    </td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-add-block-line">
  <tr class="line hover-td-active" data-dorm-number="{dorm_number}" data-floor-number="{floor_number}">
    <td colspan="9" class="text-center cursor-pointer hover-td">
      <span class="glyphicon glyphicon-plus-sign"></span> Добавить блок
    </td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-room-info-line">
  <tr class="line room-info hover-td-info" id="ri-{full_room_id}">
    <td colspan="9">
      <table class="table table-condensed" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th class="text-center">Общая информация о комнате {room_number} блока {block_number}</th>
            <td class="pull-right cursor-pointer hover-td-active close-room-info" style="text-align: right; width: 100px">Закрыть <span class="glyphicon glyphicon-remove"></span>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Площадь</td>
          <td class="area editable">
            <div class="form-group text-middle" style="width: 100%; margin-bottom: 0px;">
              <div class="input-group">
                <input class="form-control text-center room-info-area" type="number" placeholder="Введите площадь комнаты" value="{area}">
                <div class="input-group-addon">m<sup>2</sup></div></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Макс.жильцов</td>
          <td class="places-count editable">
            <div class="form-group text-middle" style="width: 100%; margin-bottom: 0px;">
              <div class="input-group">
                <input class="form-control text-center room-info-places-count" type="number" placeholder="Введите максимальное количество жильцов" value="{places_count}">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="repairing" colspan="2">
            <button type="button" class="btn {repairing_active} repairing-btn" style="width: 100%;">{repairing_text}</button>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
</script>



<script type="template/javascript" id="tmpl-queue-list">
  <div class="jumbotron queue" >
    <h2>Очередь на заселение</h2>
    <p>В очереди стоит:</p>
    <p>парней &nbsp;- {male_count}</p>
    <p>девушек - {female_count}</p>
    <p>всего &nbsp;&nbsp;- {all_count}</p>
  </div>

  <div id="queue-wrapper" class="centering">
    <div id="queue">
      <table class="table table-striped table-condensed table-bordered table-responsive" id="queue-table">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">ФИО</th>
          <th class="text-center">Телефон</th>
          <th class="text-center">Статус</th>
          <th class="text-center">Институт</th>
          <th class="text-center">Примечание</th>
          <th class="text-center">Edit</th>
          <th class="text-center">...</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type="template/javascript" id="tmpl-queue-student-line">
  <tr class="line student-line">
    <td class="text-middle" data-student-id="{student_id}"> {number}  </td>
    <td class="eq2">{name}</td>
    <td class="gt3">{phone_number}</td>
    <td class="gt3">{category}</td>
    <td class="gt3">{inst_name}</td>
    <td class="comment gt3" contenteditable="true">{comment}</td>
    <td class="gt3 text-center cursor-pointer text-middle edit" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></td>
    <td class="gt3 text-center text-middle" title="Удалить">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#" class="remove-reason" data-reason="За нарушения">За нарушения</a></li>
          <li><a href="#" class="remove-reason" data-reason="По собственному желанию">По собственному желанию</a></li>
          <li><a href="#" class="remove-reason" data-reason="Не оплачено в срок">Не оплачено в срок</a></li>
          <li class="divider"></li>
          <li><a href="#" class="remove-reason" data-reason="За нарушения">Окончил университет</a></li>
          <li><a href="#" class="remove-reason" data-reason="Переселение">Переселение...</a></li>
          <li class="divider"></li>
          <li><a href="#" class="remove-reason" data-reason="Другое...">Другое...</a></li>
        </ul>
      </div>
    </td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-queue-add-student-line">
  <tr class="line hover-td-info add-student">
    <td colspan="8" class="text-center cursor-pointer">
      <span class="glyphicon glyphicon-plus-sign"></span> Добавить студента
    </td>
  </tr>
</script>