<header id="main-header">
  <a class="menu-header">Общежития</a>
  <a class="ui dropdown menu-item select-dorm">
    <i class="icon building"></i> Общежитие №2 <i class="dropdown icon"></i>
    <div class="menu">
    </div>
  </a>
  <a class="ui dropdown menu-item select-dorm">
    <i class="icon building"></i> Общежитие №6 <i class="dropdown icon"></i>
    <div class="menu">
    </div>
  </a>
</header>